/* It's Just CSS magic, no JS bullshit */


/* Fonte usada no HTML */

.titulo{
	box-sizing: border-box;
	font-weight: normal;
	font-family: "Nothing You Could Do";
}


/* Config do gradient do fundo */

body {
    background-image: linear-gradient(20deg, black, rgb(0, 0, 27) )
}
/* posição do titulo */

.titulo{
	position: fixed;
	bottom: 0;
	right: 0;
	color: #999;
}

.titulo :hover{
	transform: rotate(-5deg);
}

/* config do container */

.container{
	position: relative;
	margin: 0 auto;

}

/* ---------------Letras-------------------*/

/* Card LasgoEve */

.LasgoEve{
	position: absolute;
	margin-left: 0px;
	margin-top: 0px;
	rotate: 0deg;
	transition: transform .35s ease-out;
}

.LasgoEve img{ 
	height: 70px;
	border-radius: 15px;
}

.LasgoEve:hover{
	transform: scale(2) rotate(-4deg);
	
}

.LasgoEve:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card Sash */

.Sash{
	position: absolute;
	margin-left: 300px;
	margin-top: 250px;
	rotate: 0deg;
	transition: transform .35s ease-out;
}

.Sash img{ 
	height: 55px;
	border-radius: 15px;
}

.Sash:hover{
	transform: scale(2) rotate(-4deg);
	
}

.Sash:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card Cascada */

.Cascada{
	position: absolute;
	margin-left: 800px;
	margin-top: 550px;
	rotate: 0deg;
	transition: transform .35s ease-out;
}

.Cascada img{ 
	height: 55px;
	border-radius: 15px;
}

.Cascada:hover{
	transform: scale(2) rotate(-4deg);
	
}

.Cascada:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card Groove */

.Groove{
	position: absolute;
	margin-left: 750px;
	margin-top: 250px;
	rotate: 0deg;
	transition: transform .35s ease-out;
}

.Groove img{ 
	height: 80px;
	border-radius: 15px;
}

.Groove:hover{
	transform: scale(2) rotate(-4deg);
	
}

.Groove:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card italobrothers */

.italobrothers{
	position: absolute;
	margin-left: 300px;
	margin-top: 500px;
	rotate: 0deg;
	transition: transform .35s ease-out;
}

.italobrothers img{ 
	height: 80px;
	border-radius: 15px;
}

.italobrothers:hover{
	transform: scale(2) rotate(-4deg);
	
}

.italobrothers:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card prezioso */

.prezioso{
	position: absolute;
	margin-left: 1000px;
	margin-top: 0px;
	rotate: 0deg;
	transition: transform .35s ease-out;
}

.prezioso img{ 
	height: 80px;
	border-radius: 15px;
}

.prezioso:hover{
	transform: scale(2) rotate(-4deg);
	
}

.prezioso:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* -------------------Capas------------------- */

/* Card Smile.DK */

.smile{
	position: absolute;
	margin-left: 250px;
	margin-top: 10px;
	rotate: 5deg;
	transition: transform .35s ease-out;
}

.smile img{ 
	height: 150px;
	border-radius: 15px;
}

.smile:hover{
	transform: scale(2) rotate(-5deg);
	z-index: 1;

}

.smile:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}
  
/* Card Shanadoo */

.shanadoo{
	position: absolute;
	margin-left: 500px;
	margin-top: 15px;
	rotate: -15deg;
	transition: transform .35s ease-out;
}

.shanadoo img{ 
	height: 150px;
	border-radius: 15px;
}

.shanadoo:hover{
	transform: scale(2) rotate(15deg);
	z-index: 1;
}

.shanadoo:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card Venice */

.venice{
	position: absolute;
	margin-left: 400px;
	margin-top: 50px;
	rotate: 0deg;
	transition: transform .35s ease-out;
}

.venice img{ 
	height: 150px;
	border-radius: 15px;
}

.venice:hover{
	transform: scale(2) rotate(15deg);
	z-index: 1;
}

.venice:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

.venice:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card Antique */

.Antique{
	position: absolute;
	margin-left: 1100px;
	margin-top: 80px;
	rotate: 5deg;
	transition: transform .35s ease-out;
}

.Antique img{ 
	height: 150px;
	border-radius: 15px;
}

.Antique:hover{
	transform: scale(2) rotate(-4deg);
	
}

.Antique:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card Baracuda */

.Baracuda{
	position: absolute;
	margin-left: 500px;
	margin-top: 300px;
	rotate: -15deg;
	transition: transform .35s ease-out;
}

.Baracuda img{ 
	height: 150px;
	border-radius: 15px;
}

.Baracuda:hover{
	transform: scale(2) rotate(15deg);
	
}

.Baracuda:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card danzel */

.danzel{
	position: absolute;
	margin-left: 170px;
	margin-top: 350px;
	rotate: 10deg;
	transition: transform .35s ease-out;
}

.danzel img{ 
	height: 150px;
	border-radius: 15px;
}

.danzel:hover{
	transform: scale(2) rotate(-4deg);
	
}

.danzel:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card ianvandahl */

.ianvandahl{
	position: absolute;
	margin-left: 900px;
	margin-top: 380px;
	rotate: 3deg;
	transition: transform .35s ease-out;
}

.ianvandahl img{ 
	height: 150px;
	border-radius: 15px;
}

.ianvandahl:hover{
	transform: scale(2) rotate(-4deg);
	
}

.ianvandahl:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card boris */

.boris{
	position: absolute;
	margin-left: 50px;
	margin-top: 80px;
	rotate: 3deg;
	transition: transform .35s ease-out;
}

.boris img{ 
	height: 150px;
	border-radius: 15px;
}

.boris:hover{
	transform: scale(2) rotate(-4deg);
	
}

.boris:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card XS */

.XS{
	position: absolute;
	margin-left: 900px;
	margin-top: 90px;
	rotate: 3deg;
	transition: transform .35s ease-out;
}

.XS img{ 
	height: 150px;
	border-radius: 15px;
}

.XS:hover{
	transform: scale(2) rotate(-4deg);
	
}

.XS:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card erika */

.erika{
	position: absolute;
	margin-left: 1100px;
	margin-top: 380px;
	rotate: -20deg;
	transition: transform .35s ease-out;
}

.erika img{ 
	height: 150px;
	border-radius: 15px;
}

.erika:hover{
	transform: scale(2) rotate(20deg);
	
}

.erika:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* logos */

/* Card BeForU */ 

.be4u{
	position: absolute;
	margin-left: 720px;
	margin-top: 30px;
	rotate: -5deg;
	transition: transform .35s ease-out;
}

.be4u img{ 
	height: 150px;
	border-radius: 15px;
}

.be4u:hover{
	transform: scale(2) rotate(4deg);
	z-index: 1;
}

.be4u:active {
	transform: scale(2) rotate(-5deg) translateY(4px);
	z-index: 1;
    
}

/* Card S3RL */ 

.S3RL{
	position: absolute;
	margin-left: 1200px;
	margin-top: 250px;
	rotate: 5deg;
	transition: transform .35s ease-out;
}

.S3RL img{ 
	height: 100px;
	border-radius: 15px;
}

.S3RL:hover{
	transform: scale(2) rotate(-4deg);
	
}